.variables {
  --ds-size-10: 4px;
  --ds-size-20: 8px;
  --ds-size-30: 12px;
  --ds-size-40: 16px;
  --ds-size-50: 24px;
  --ds-size-60: 32px;
  --ds-size-70: 40px;
  --ds-size-80: 48px;
  --ds-size-90: 56px;
  --ds-size-100: 64px;
  --ds-size-200: 80px;
  --ds-size-300: 96px;
  --ds-size-400: 128px;
  --ds-size-500: 160px;
  --ds-size-600: 192px;
  --ds-size-700: 224px;
  --ds-size-800: 256px;
  --ds-size-900: 288px;
  --ds-size-1000: 320px;

  --ds-font-size-10: 0.8rem;
  --ds-font-size-20: 1rem;
  --ds-font-size-30: 1.2rem;
  --ds-font-size-40: 1.4rem;
  --ds-font-size-50: 1.6rem;
  --ds-font-size-60: 1.8rem;
  --ds-font-size-70: 2rem;
  --ds-font-size-80: 2.2rem;
  --ds-font-size-90: 2.4rem;
  --ds-font-size-100: 2.6rem;
}
